#textdomain wesnoth-AD

[scenario]
    id=AD_05
    name= _ "The Taf"
    map_data="{~add-ons/Ashievieres_Dogs/maps/AD_05.map}"
    {TURNS 26 24 23}
    next_scenario=null
    victory_when_enemies_defeated=no
    carryover_percentage=40
    carryover_add=yes
    current_time=5

    {DEFAULT_SCHEDULE}

    {SCENARIO_MUSIC "the_dangerous_symphony.ogg"}
    {EXTRA_SCENARIO_MUSIC "northerners.ogg"}
    {EXTRA_SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_city_falls.ogg"}

    [story]
        [part]
            story=_"Внезапный рейд, учинённый Изольдой, разрушил планы бунтовщиков на северной границе. Уничтожив склады и лидеров, орки также подожгли лес. Эльфийская армия, с помощью которой мятежники хотели отбить Сорадок, была вынуждена заняться тушением пожара."
            {AD_BIGMAP}
            {JOURNEY_04_OLD}
        [/part]
        [part]
            story=_"Опасная ставка Ашевир на орков сработала. Пусть ценой многих невинных жертв, но королева сумела в кратчайшие сроки заполучить боеспособную армию, которая, ко всему прочему, не перебежит на сторону бунтовщиков."
            {AD_BIGMAP}
            {JOURNEY_04_OLD}
        [/part]
        [part]
            story=_"Под Велдином бунтовщики поняли, что опоздали. Одни только орки в армии Ашевир уже превосходили их числом, не говоря уже о самих верноподданных. Генеральное сражение чуть не завершило эту войну, однако бунтовщики смогли организованно отступить в Дан-Тонк."
            {AD_BIGMAP}
            {JOURNEY_04_OLD}
        [/part]
        [part]
            story=_"Бунтовщики вели переговоры с Элесенфаром и эльфами Этенвуда. Однако Ашевир решила не повторять их ошибку, и немедленно выдвинулась на Дан-Тонк. Согласно её плану, основная часть её армии должна была подойди к городу с юга, в то время как другой отряд, по-большей части из орков, должен был захватить Таф и ударить с севера."
            {AD_BIGMAP}
            {JOURNEY_04_OLD}
        [/part]
        [part]
            story=_"Шайка Базура должна была присоединиться к северной части королевских клещей. Покинув Глинов лес, орки двинулись на Таф."
            {AD_BIGMAP}
            {JOURNEY_04_OLD}
        [/part]
    [/story]

    {AD_TRACK {JOURNEY_05_NEW} }

    [item]
        halo="scenery/flames[01~15].png"
        image="scenery/flames01.png"
        visible_in_fog=yes
        x=38
        y=1
    [/item]

    [item]
        halo="scenery/flames[01~15].png"
        image="scenery/flames01.png"
        visible_in_fog=yes
        x=36
        y=1
    [/item]

    [item]
        halo="scenery/flames[01~15].png"
        image="scenery/flames01.png"
        visible_in_fog=yes
        x=35
        y=2
    [/item]

    [item]
        halo="scenery/flames[01~15].png"
        image="scenery/flames01.png"
        visible_in_fog=yes
        x=30
        y=1
    [/item]

    [item]
        halo="scenery/flames[01~15].png"
        image="scenery/flames01.png"
        visible_in_fog=yes
        x=29
        y=1
    [/item]

    [item]
        halo="scenery/flames[01~15].png"
        image="scenery/flames01.png"
        visible_in_fog=yes
        x=28
        y=1
    [/item]

    #player average recruit cost = 17,6

    {STARTING_VILLAGES_ALL 4}

    {STARTING_VILLAGES 1 5}
    {STARTING_VILLAGES 2 5}
    {STARTING_VILLAGES 3 5}

    [side]
        side=1
        controller=human
        {GOLD 150 130 130}
        income=0
        fog=no
        shroud=no
        share_vision=all
        {BAZUR_ARC_I}
        recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Goblin Spearman,Orcish Assassin
        color=red
        team_name=bazur
        user_team_name= _ "Bazur's clan"
        {FLAG_VARIANT ragged}
    [/side]

    [side]
        side=2
        controller=ai
        {GOLD 130 150 180}
        {INCOME 4 7 10}
        fog=no
        shroud=no
        share_vision=all
        type=Orcish Warlord
        id=Warlord_South
        recruit=Orcish Grunt,Orcish Warrior,Troll Whelp,Troll,Wolf Rider,Orcish Archer
        color=brown
        team_name=bazur
        user_team_name= _ "Orcs"
        {FLAG_VARIANT ragged}
    [/side]

    [side]
        side=3
        controller=ai
        {GOLD 130 150 180}
        {INCOME 4 7 10}
        fog=no
        shroud=no
        share_vision=all
        type=Orcish Warlord
        id=Warlord_West
        recruit=Orcish Grunt,Troll Whelp,Troll Rocklobber,Wolf Rider,Orcish Archer,Orcish Crossbowman,Goblin Pillager
        color=orange
        team_name=bazur
        user_team_name= _ "Orcs"
        {FLAG_VARIANT ragged}
    [/side]

    [side]
        side=4
        controller=ai
        {GOLD 160 195 225}
        {INCOME 4 7 10}
        fog=no
        shroud=no
        share_vision=all
        type=Master Bowman
        id=Rebel_Leader
        recruit=Peasant,Woodsman,Poacher,Bowman,Thug,Thief,Footpad,Spearman,Bowman
        color=white
        team_name=rebels
        user_team_name= _ "Wesnoth Rebels"

        {FLAG_VARIANT long}

        [ai]
            grouping=defensive
            caution=0.5
            [goal]
                name=protect_location
                [criteria] 
                    x,y=21,16
                [/criteria]
                protect_radius=4
                value=100
            [/goal]
        [/ai]
    [/side]

    [side]
        side=5
        controller=ai
        fog=no
        shroud=no
        share_vision=all
        color=blue
        team_name=rebels
        hidden=yes
        user_team_name= _ ""

        {FLAG_VARIANT long}
    [/side]

    {AD_CAPTURE_EVENT 4}
    {AD_MARAUDERS}
    {HERODEATH_ACT_I}

    [event]
    name=prestart

        [recall]
            id=Isolde
            side=1
            x,y=32,4 
        [/recall]

        {UNIT 5 (Elvish Fighter) 31 1 (hitpoints=4)}
        {UNIT 5 (Elvish Archer) 37 2 (hitpoints=4)}

        {NAMED_UNIT 4 Peasant 21 13 () (Cowardly Peasant) (role=coward)}
        {NAMED_UNIT 4 Peasant 24 13 () (Cowardly Peasant) (role=coward)}
        {NAMED_UNIT 4 Woodsman 23 13 () (Cowardly Peasant) (role=coward)}
        {NAMED_UNIT 4 Peasant 27 12 () (Cowardly Peasant) (role=coward)}
        {NAMED_UNIT 4 Woodsman 23 9 () (Cowardly Peasant) (role=coward)}
        {NAMED_UNIT 4 Peasant 17 10 () (Cowardly Peasant) (role=coward)}

        [micro_ai]
            side=4
            ai_type=goto
            action=add

            [filter]
                role=coward
            [/filter]
            [filter_location]
                x,y=38,1
                radius=1
            [/filter_location]
            ca_score=600000
        [/micro_ai]

        {NAMED_UNIT 4 Peasant 26 22 () (Brave Peasant) (role=brave)}
        {NAMED_UNIT 4 Peasant 28 21 () (Brave Peasant) (role=brave)}
        {NAMED_UNIT 4 Peasant 23 24 () (Brave Peasant) (role=brave)}
        {NAMED_UNIT 4 Peasant 27 21 () (Brave Peasant) (role=brave)}
        {NAMED_UNIT 4 Peasant 32 19 () (Brave Peasant) (role=brave)}

        {NAMED_UNIT 4 Peasant 12 17 () (Brave Peasant) (role=brave)}
        {NAMED_UNIT 4 Peasant 11 14 () (Brave Peasant) (role=brave)}
        {NAMED_UNIT 4 Peasant 7 13 () (Brave Peasant) (role=brave)}
        {NAMED_UNIT 4 Peasant 26 21 () (Brave Peasant) (role=brave)}

        {NAMED_UNIT 2 (Troll Warrior) 27 22 (Big_Kruuk) (Big Kruuk) ()}

        {GENERIC_UNIT 3 (Orcish Grunt) 11 18}
        {GENERIC_UNIT 3 (Orcish Archer) 10 21}

    [/event]

    [event]
    name=start 

        [message]
            speaker=Bazur 
            message=_ "Из-за этих эльфов мы чуть не опоздали на штурм. Другие орки уже развернулись в боевые порядки."
        [/message] 

        [scroll_to_unit]
            side=2,3,4
            canrecruit=yes 
        [/scroll_to_unit]

        [message]
            speaker=Isolde
            message=_ "Если бы не наш рейд, бунтовщики и эльфы могли бы ударить этим увальням в тыл. Их быстрота - наша заслуга."
        [/message] 

        [message]
            speaker=Bazur 
            message=_ "Угу. Жду не дождусь награды от королевы."
        [/message] 

        [message]
            speaker=Isolde
            message=_ "Я тоже. А теперь присоединяйся к осаде. Мы должны жестоко наказать этих бунтовщиков за то, что они связались с эльфами."
        [/message] 

        [message]
            speaker=Rebel_Leader
            message=_ "Держитесь, друзья. Скоро к нам придёт подкрепление из Глинова леса, и мы отбросим этих захватчиков."
        [/message] 
    [/event]

    [event]
    name=attack end
    first_time_only=yes 

        [filter]
            side=1
        [/filter]

        [filter_second]
            role=coward 
        [/filter_second]

        [message]
            speaker=second_unit
            message=_ "Это не подкрепление! Из Глинова леса валит ещё больше орков!"
        [/message] 

        [message]
            speaker=Bazur 
            message=_ "Ха-ха! Ваших дружков уже жрут черви, как и ваших эльфов! И вы следующие!"
        [/message]
    [/event]

    [event]
    name=attack 
    first_time_only=yes 

        [filter]
            id=Big_Kruuk
        [/filter]

        [filter_second]
            type=Peasant
        [/filter_second]

        [message]
            speaker=unit
            message=_ "Ха-ха! Бегающий гвоздь! Крууку весело!"
        [/message] 
    [/event]

    [event]
    name=die

        [filter]
            id=Rebel_Leader
        [/filter]

        [message]
            side=4
            canrecruit=no
            message=_ "Умоляю, хватит! Мы сдаёмся, сдаёмся!"
        [/message]

        [message]
            speaker=Isolde
            message=_ "Город наш. Остановите резню."
        [/message] 

        [message]
            side=2
            canrecruit=yes
            message=_ "Чего? Нам сказали разграбить город, и мы только начали!"
        [/message] 

        [message]
            speaker=Isolde
            message=_ "Не ври, у нас одно задание - вернуть Таф под знамя короны, а не вырезать его. Веди своих головорезов назад, говорю!"
        [/message] 

        [message]
            side=3
            canrecruit=yes
            message=_ "Ишь, раскомандовалась! Я не стану обижать своих воинов и лишать их заслуженной добычи."
        [/message]

        [message]
            speaker=Bazur 
            message=_ "В самом деле, что плохого в том, чтобы пограбить врагов?"
        [/message]

        [message]
            speaker=Isolde
            message=_ "И ты туда же?! Если не прекратите резню, королева жестоко покарает вас."
        [/message] 

        [message]
            side=2
            canrecruit=yes
            message=_ "Ага, ага! Королева даже жалкий городишко не может взять без орков. Зачем вообще слушать эту бабу? Прирежь её, вождь, и присоединяйся к веселью."
        [/message] 

        [message]
            speaker=Isolde
            message=_ ". . ."
        [/message] 

        [message]
            speaker=Bazur 
            message=_ ". . ."
        [/message]

        [message]
            speaker=Bazur 
            message=_ "Да нет, она дело говорит. Королева заплатит больше, если мы будем слушать её, я по Сорадоку знаю."
        [/message]

        [message]
            side=3
            canrecruit=yes
            message=_ "Ар, трус! Лично я пришёл сюда помогать королеве, а не лизать ей сапоги. И если я хочу разграбить город, я разграблю его."
        [/message]

        [message]
            side=2
            canrecruit=yes
            message=_ "Я тоже!"
        [/message] 

        [message]
            speaker=Isolde
            message=_ "Я рада, что ты разумнее этих двоих, Базур. Мы должны выбить их из города. Скоро сюда прибудут королевские войска, они-то проучат болванов."
        [/message] 

        [modify_side]
            side=4
            team_name=bazur
            color=purple
            {FLAG_VARIANT loyalist}
        [/modify_side]
        
        [modify_side]
            side=2,3
            team_name=evil_orcs
        [/modify_side]

        [event]
        name=die
        first_time_only=no 

            [if]
                [have_unit]
                    side=2,3
                    [filter_location]
                        x,y=21,16
                        radius=4
                    [/filter_location]
                [/have_unit]

                [then]
                [/then]

                [else]

                [message]
                    side=2,3
                    message=_ "Да ладно, ладно! Не грабить, так не грабить, мы поняли."
                [/message]

                [message]
                    speaker=Isolde
                    message=_ "То-то же."
                [/message] 

                {FADE_TO_BLACK}

                [hide_unit]
                    side=1,2,3,4
                [/hide_unit]

                [kill]
                    side=2,3,4
                    canrecruit=no 
                [/kill]

                [put_to_recall_list]
                    side=1
                    canrecruit=no 
                    [not]
                        id=Isolde 
                    [/not]
                [/put_to_recall_list]

                {TELEPORT_UNIT id=Warlord_South 18 16}
                {TELEPORT_UNIT id=Warlord_West 18 14}
                {TELEPORT_UNIT id=Bazur 18 15}

                [modify_unit]
                    [filter]
                        race=orc 
                        canrecruit=yes 
                    [/filter]
                    facing=se
                [/modify_unit]

                {TELEPORT_UNIT id=Isolde 20 15}
                {UNIT 4 General 21 16 (id=General 
                canrecruit=yes
                facing=sw)}
                {UNIT 4 Halberdier 19 17 (facing=sw)}
                {UNIT 4 Halberdier 19 15 (facing=sw)}

                [delay]
                    time=300
                [/delay]

                {FADE_IN}

                [unhide_unit]
                    side=1,2,3,4
                [/unhide_unit]

                [message]
                    speaker=General
                    message=_ "Город утоплен в крови. Что, чёрт возьми, здесь случилось?"
                [/message] 

                [message]
                    speaker=Isolde
                    message=_ "Мы принудили гарнизон Тафа сдаться, генерал, однако орки не захотели остановить грабёж и насилие. Отряд моего подопечного выбил их за стены, после чего они успокоились."
                [/message] 

                [message]
                    speaker=General
                    message=_ "Вот как. Кто из них твой подопечный?"
                [/message] 

                [message]
                    speaker=Isolde
                    message=_ "(показывая рукой на Базура) Он, генерал."
                [/message] 

                [message]
                    speaker=General
                    message=_ "Его оставить в живых. Остальных - порубить на куски!"
                [/message] 

                [message]
                    speaker=Warlord_South
                    message=_ "Э-э-э начальник, ты чего!"
                [/message] 

                [animate_unit]
                flag=attack
                    [filter]
                        x,y=19,17
                    [/filter]
                    [facing]
                        x,y=18,16
                    [/facing]
                    [primary_attack]
                        range=melee
                        type=blade
                    [/primary_attack]
                    hits=yes
                    [animate]
                        flag=defend
                        [filter]
                            x,y=18,16
                        [/filter]
                        hits=yes
                    [/animate]
                [/animate_unit]

                [kill]
                    id=Warlord_South
                    animate=yes
                [/kill]

                [animate_unit]
                flag=attack
                    [filter]
                        x,y=19,15
                    [/filter]
                    [facing]
                        x,y=18,14
                    [/facing]
                    [primary_attack]
                        range=melee
                        type=blade
                    [/primary_attack]
                    hits=yes
                    [animate]
                        flag=defend
                        [filter]
                            x,y=18,14
                        [/filter]
                        hits=yes
                    [/animate]
                [/animate_unit]

                [kill]
                    id=Warlord_West
                    animate=yes
                [/kill]

                [message]
                    speaker=General
                    message=_ "Совсем озверели, мрази. Это наша страна, вы здесь ТОЛЬКО по приглашению королевы и ТОЛЬКО для войны с бунтовщиками. Если кто ещё из вас, зверомордых, почувствует себя главным и посмеет ослушаться приказа - его порубят, как этих двоих. Я понятно объясняю?"
                [/message] 

                [message]
                    speaker=Bazur
                    message=_ "Угу."
                [/message] 

                [message]
                    speaker=Isolde
                    message=_ "Каково следущее задание, генерал?"
                [/message] 

                [message]
                    speaker=General
                    message=_ "Мы разбили бунтовщиков под Велдином. Теперь королева хочет взять Дан-Тонк. Мы, и эти орки, должны окружить город с севера. Приказы так же содержат особое поручение для наиболее лояльного отряда орков, если такой найдётся."
                [/message] 

                [message]
                    speaker=Isolde
                    message=_ "Я думаю, мой подопечный подходит. Что за поручение?"
                [/message]

                [message]
                    speaker=General
                    message=_ "Давны-давно между Дан-Тонком и Тафом проложили секретный тоннель, чтобы быстро и неожиданно перебрасывать силы, если враг прорвётся за переправу Абез. Сейчас тоннель заброшен, однако, насколько я знаю, орки неплохо ориентируются в пещерах. Согласно приказу, отряд смельчаков должен проникнуть через этот тоннель в самое сердце Дан-Тонка и открыть ворота для осаждающей армии."
                [/message] 

                [message]
                    speaker=Isolde
                    message=_ "Мы в честью выполним это задание, генерал."
                [/message]

                [message]
                    speaker=Bazur
                    message=_ "Погоди, а что насчёт награды?"
                [/message] 

                [message]
                    speaker=General
                    message=_ "Не сомневайся, когда война закончится, вам отсыпят сполна, чтоб даже желания вернуться сюда не возникало."
                [/message] 

                [message]
                    speaker=Bazur
                    message=_ "Гм, ну ладно, мы согласны."
                [/message]

                [message]
                    speaker=General
                    message=_ "Тогда выдвигайтесь немедленно. Вы должны проникнуть в Дан-Тонк ровно тогда, когда начнётся штурм. Ваше опоздание будет стоить сотни королевских солдат, если не победы."
                [/message] 

                [endlevel]
                    result=victory
                    carryover_add=yes 
                    bonus=yes
                [/endlevel]
                [/else]
            [/if]
        [/event]
    [/event]

    [event]
    name=time over 

        [message]
            speaker=Isolde
            message=_ "Мы не успели взять Сорадок вовремя и сорвали план королевы. Скоро сюда явятся её генералы, и они будут в ярости."
        [/message]

        [message]
            speaker=Bazur
            message=_ "Ар, плакали мои награды!"
        [/message]
    [/event]
[/scenario]
