#textdomain wesnoth-AD

    НАЧАЛО:

    Гонец: Я привёл наёмников, Ваше Величество! 
    Ашевир: Отлично, пусть немедленно присоединяются к осаде. А ты возвращайся на север и завербуй ещё. 
    Гонец: Слушаюсь, Ваше Величество!
    Ашевир: Ты окружён, Келлан. Сдай город, или по твоей вине на него обрушится ярость орков, равно как и моей армии! 

    Келлан: Воистину, Гарард пригрел на груди змею! Ты сгубила мужа и узурпировала трон, умылась кровью невинных младенцев и требуешь признать тебя королевой?! Никогда, слышишь -- никогда я не сделаю этого! Быть тебе королевой орков, а не людей, ибо люди никогда не забудут о твоих злодеяниях. 

    Ашевир: Пристыдил! Где были твои благочестивые речи, где была твоя высокая мораль, Келлан, когда проклятый колдун убивал моего сына? Почему ты не призвал Делфадора к милосердию? Почему позволил ему вонзить в грудь Элдреда свой посох? Почему не попытался исцелить Элдреда? Я знаю, ты был там, Келлан, ты позволил этому случиться, позабыв о долге паладина! 

    Келлан: Элдред сам устроил эту смуту. 

    Ашевир: От этого он не перестал быть ребёнком, которого Делфадор обрёк на мучительную смерть, пригвоздив к земле своим посохом. Ты даже не попытался извлечь посох и облегчить его последние минуты. И у тебя хватает наглости читать мораль мне, его матери? Я отрежу тебе язык и вздёрну на виселице за твоё лицемерие. Начинайте осаду!

    Базур: Yeah, the humans are really fighting each other. That's great! We must show this Queen what strong warriors we are and catch the leader of the rebels before her benches do. Let's set up a camp!

    ПРИХОДИТ ОРК-КОНКУРЕНТ: 

    Орк: Кто тут королева? Мне сказали, она ищёт наёмников, так вот, мы наёмники! 
    Ашевир: Я здесь королева, орк. Атакуй город и схвати для меня лидера мятежников. Справишься - приму тебя на свою службу и отплачу сполна. 
    Орк: По рукам! Сейчас ты увидишь, на что способен клан Камнекожих! 
    Базур: Ар, зачем эта троллья башка припёрлась сюда! Нужно опередить его, а лучше - прирезать. Не бывать тому, чтобы Белые Клыки уступили Камнекожему клану! 

    ПРИХОДИТ СЭР РОНАЛЬД:

    Рональд: Приветствую Ваше Величество! Я привёл рыцарей Вам на помощь. 
    Ашевир: Благодарю тебя, Сэр Рональд. Рада видеть, что кланы уважают законы Веснота так же, как я уважаю их собственные. 
    Келлан: Рональд, как можешь ты сражаться на стороне зла? 
    Рональд: Молчи, Келлан! Своими речами о добре и зле ты чуть не втянул нас в войну, которая нам не нужна! Кланы низложили тебя, ты больше не лорд Сорадока. Сдай город, или встретишь смерть на наконечнике моего копья! 
    Келлан: Да будет так! 

    СМЕРТЬ РОНАЛЬДА:

    Рональд: Пройти столько войн и умереть здесь! 
    Келлан: Скорблю о твоей бесславной кончине, Рональд. 

    СМЕРТЬ ОРКА ОТ РУК БАЗУРА:

    Орк: Разве мы не должны быть заодно? (булькает)
    Базур: Никогда мы не будем заодно, троллья башка! Сдохни!

    Ашевир: Что вы делаете, идиоты?! Я велела вам штурмовать город, а не убивать друг друга! 
    Базур: Это был слабый вождь, и клан у него был слабый, только путался под ногами! 
    Ашевир: Мне плевать. Или ты штурмуешь город, или я изгоняю тебя назад в пустоши! 
    Базур: Не серчай, королева! Город почти в твоих руках! 

    ЕСЛИ КЕЛЛАН ПОГИБАЕТ ОТ РОНАЛЬДА:

    Келлан: Сражён пикой бывшего друга! Тёмные времена грядут, хорошо, что я их уже не увижу... 

    ЕСЛИ КЕЛЛАН ПОГИБАЕТ ОТ КОГО-ТО ЕЩЁ:

    Келлан: От чьей руки я пал? 

    Игрок: От орочьей/тролльей/гоблинской, болван! 
    Союзники (люди): (имя бойца) сразил тебя! 

    ЕСЛИ ИГРОК УБИЛ КЕЛЛАНА (ПОБЕДА)

    Базур: Мы сделали это! Мы взяли город и убили вождя мятежников, королева! 
    Ашевир: Хоть вы и спасли Келлана от моего правосудия, подарив ему быструю смерть, от вашего отряда есть толк. Я принимаю вас на мою службу. Отныне обращайся ко мне "Ваше Величество". 

    Базур: Угу, что насчёт награды, Величество? 

    (ЕСЛИ УБИЛИ ОРКА КОНКУРЕНТА)

    Ашевир: ВАШЕ Величество. Я рассчитывала нанять два отряда орков, но, похоже, всё жалование достанется тебе. Я рассчитываю, что и впредь ты будешь сражаться за двоих.  

    (ЕСЛИ ОРК КОНКУРЕНТ ЖИВ)

    Ашевир: ВАШЕ Величество. Вот твоё золото. Служи мне как верный пёс, и ты получишь гораздо больше. 
    Орк-конкурент: А мы? 
    Ашевир: Вы добились меньшего, но все же неплохо потрепали гарнизон Сорадока. Принимаю на службу и вас. Вот ваше золото. 

    (ПРИЕЗЖАЕТ ГОНЕЦ)

    Гонец: Срочные новости, Ваше Величество! 
    Ашевир: Слушаю. 
    Гонец: Мы захватили депешу мятежников; оказывается, неделю назад барон де Феррес направил отряд латников на помощь Келлану. Однако узнав, что кланы не поддерживают Келлана, он велел им развернуться и занять Таф. Разведчики обнаружили их, сейчас они на полпути к городу. 
    Ашевир: Каковы шансы, что Сэр Гвидо окажет им сопротивление?
    Гонец: Боюсь, он в сговоре с де Ферресом, Ваше Величество! В депеше сказано, что он окажет им содействие и обеспечит всем необходимым! 
    Ашевир: Значит, нужно перехватить прежде, чем они достигнут Тафа! Лейтенант Лод, приказываю немедленно организовать погоню! 
    Лод: Ваше Величество, мои люди утомлены битвой, нужен минимум день, чтобы перегруппироваться, или мы сами станем лёгкой добычей для латников. 
    Гонец: Дня форы их хватит, чтобы достигнуть Тафа. 
    Ашевир: Что вы хотите сказать? Что среди верных мне людей нет никого, кто смог бы выполнить приказ? Что мне придётся выбивать латников из Тафа, отправляя десятки солдат в самоубийственные атаки? 

    (ЕСЛИ ЕСТЬ ОРК-КОНКУРЕНТ)

    Орк: Я бы догнал их, Ваше Величество, да тролли хотят отдохнуть, без них ничего не выйдет. 
    Базур: Величество! 
    Ашевир: ВАШЕ Величество. 
    Базур: Ваше Величество! Мои орки - сильные, нам не нужен отдых! Мы готовы хоть сейчас отправляться в погоню, как твои верные псы! 
    Ашевир: Смотрите: орк заботится о Короне больше, чем те, кто присягнул ей! 

    (ПОЯВЛЯЕТЯС ИЗОЛЬДА)

    Изольда: Простите мою дерзость, Ваше Величество, но я тоже готова немедленно взяться за это задание, если только Вы выделите мне отряд солдат в командование. А орки, как по мне, просто хотят пробраться в глубь страны и поживиться нашими деревнями! 

    Ашевир: Я не спрашивала твоего мнения о моих орках, сержант. Раз готова - значит отправишься, а орки будут твоими солдатами. Не ты ли пытаешься выслужить рыцарский титул, чтобы сохранить поместье покойного мужа? 

    Изольда: Да, это я, Ваше Величество. 

    Ашевир: Считай, что моё решение будет зависеть от того, как ты справишься с этим заданием. И проследи, чтобы орки не разграбили деревни.

    Изольда: Слушаюсь, Ваше Величество! 

    Ашевир: Остальные - размещайтесь в Сорадоке и ждите моего приказа. Нужно устроить некоторые дела, прежде, чем возвращаться в столицу. 

    ПОРАЖЕНИЕ ЕСЛИ НЕ ОРКИ УБИЛИ КЕЛЛАНА: 

    Ашевир: Похоже, орки не стоят потраченных средств, вся тяжесть битвы всё равно легла на плечи моих людей. Прочь с глаз моих, варвары! Я найду наёмников посильнее. 

    ЕСЛИ ОРКИ КОНКУРЕНТА УБИЛИ КЕЛЛАНА:

    Базур: Нет, троллья башка меня опередил! Я должен был отличиться перед королевой, а не ходить в подмётках, как в своём захолустье! 

    ЕСЛИ ОРКИ ЗАХВАТЫВАЮТ СЁЛА СПРАВА 

    Стражник: Мне приказано не трогать орков, но ведь они грабят деревни! Я так не могу, я защищу людей, пусть даже против воли королевы!
    


