#textdomain wesnoth-AD

#define ABILITY_AD_QUINTAIN 
    [dummy]
        id=ad_quintain
        name= _ "training quintain"
        description= _ "Unit who kills the dummy gets the <i>trained</i> trait."
    [/dummy]
#enddef


#define ABILITY_AD_ONSLAUGHT
    [dummy]
        id=ad_onslaught
        name= _ "onslaught"
        description= _ "If a nearby allied fighter whose level is less than or equal to Isolde's level kills an enemy, he may attack again. "
    [/dummy]
    [/abilities]

    [event]
    name=die 
    id=AD_Isolde_Ability_Event
    first_time_only=no

        [filter_second]
            [filter_adjacent]
                side=$second_unit.side 
                ability=ad_onslaught 
                formula="level >= $second_unit.level"
            [/filter_adjacent]
        [/filter_second]

        [store_unit]
            [filter]
                ability=ad_onslaught 
                formula="level >= $second_unit.level" 
                [filter_adjacent]
                    id=$second_unit.id 
                [/filter_adjacent]
            [/filter]
            kill=no 
            variable=leading 
        [/store_unit]

        [if]

        [variable]
            name=side_number
            numerical_equals=1
        [/variable]

        [then]

        [animate_unit]
            flag=leading 
            [filter]
                id=$leading[0].id 
            [/filter] 
            [facing]
                x,y=$second_unit.x,$second_unit.y 
            [/facing]
        [/animate_unit]

        [floating_text]
            x,y=$leading[0].x,$leading[0].y
            text="<span color='#FFFFFF'>" + _ "Strike again!" + "</span>"
        [/floating_text]

        [/then]

        [else]
        [/else]

        [/if]

        [modify_unit]
            [filter]
                id=$second_unit.id
            [/filter]
            attacks_left="$($second_unit.attacks_left + 1)"
        [/modify_unit]
    [/event]
    [+abilities]
#enddef

#define TRAIT_HEROIC
	[trait]
	    male_name=_"heroic"
        female_name=_"female^heroic"
        [effect]
			apply_to=hitpoints
	        {QUANTITY increase_total 0% 25% 50%}
		[/effect]
        [effect]
            apply_to=attack
            {QUANTITY increase_damage 0% 25% 50%}
        [/effect]
        [effect]
            apply_to=overlay
            add="misc/heroic.png"
        [/effect]
	[/trait]
#enddef

#define TRAIT_SCARED
	[trait]
	    male_name=_"scared"
        female_name=_"female^scared"
        [effect]
            apply_to=remove_attacks
        [/effect]
	[/trait]
#enddef
#define TRAIT_LEADER
	[trait]
	    male_name=_"leader"
        female_name=_"female^leader"
        description=_ "Heavy Infantrymen will follow this unit."
	[/trait]
    [+trait]
        [effect]
            apply_to=ellipse
            ellipse=misc/ellipse-hero
        [/effect]
        [effect]
            apply_to=overlay
            add="misc/loyal-icon.png"
        [/effect]
    [/trait]
#enddef

#define TRAIT_TRAINED
    [trait]
        male_name=_"trained"
        female_name=_"female^trained"
        [effect]
            apply_to=hitpoints
            times=per level
            increase_total=5% 
        [/effect]
        [effect]
            apply_to=attack
            times=per level
            increase_damage=1
        [/effect]
    [/trait]
#enddef


#define WEAPON_SPECIAL_GIANTS_KILLER
#using hacky workaround with attacker/defender, as other doesn't seem to work properly with weapon specials
    [damage]
        id=ad_giants_killer
        name= _ "giants slayer"
        description= _ "Damage of this attacks is multiplied by enemy level."
        multiply="(defender.level)"
        apply_to=self
        active_on=offense
    [/damage]
    [damage]
        id=square_root2
        multiply="(attacker.level)"
        apply_to=self
        apply_to=defense
    [/damage]
#enddef 

#define WEAPON_SPECIAL_RUSH
    [disable]
        id=ad_rush
        name=_"rush!"
        description=_"This attack cannot be counterattacked."
        apply_to=opponent
        active_on=offense
    [/disable]
#enddef

#define ABILITY_ATTACKS_ALL_AROUND
    [dummy]
        id=ad_attacks_all_around
        name= _ "attacks all around"
        description= _ "At the start of his turn, Sir Grey attacks every enemy unit around dealing 12 blade damage (with the Time of Day effect applied)"
    [/dummy]
    [/abilities]
    [event]
        name=side turn
        first_time_only=no
        [if]
            [have_unit]
                ability=ad_attacks_all_around
                side=$side_number
            [/have_unit]
            [and]
            	[have_unit]
			[filter_location]
					        [filter]
						        ability=ad_attacks_all_around
						        side=$side_number
					        [/filter]
					        radius=1
			[/filter_location]
				        [filter_side]
							[enemy_of]
								side=$side_number
							[/enemy_of]
						[/filter_side]
		[/have_unit]
            [/and]
            [then]
                [store_unit]
                    [filter]
                        ability=ad_attacks_all_around
                    [/filter]
                    kill=no 
                    variable=aoe_attacker
                [/store_unit]
                [floating_text]
                    x,y=$aoe_attacker[0].x,$aoe_attacker[0].y
                    text="<span color='#FFFFFF'>" + _ "Round strike!" + "</span>"
                [/floating_text]
                [animate_unit]
                    flag=aoe_strike 
                    [filter]
                        ability=ad_attacks_all_around
                        side=$side_number
                    [/filter]
                [/animate_unit]
                [harm_unit]
			        [filter]
				        [filter_location]
					        [filter]
						        ability=ad_attacks_all_around
						        side=$side_number
					        [/filter]
					        radius=1
				        [/filter_location]
				        [filter_side]
							[enemy_of]
								side=$side_number
							[/enemy_of]
						[/filter_side]
			        [/filter]
			        amount=12
                    alignment=lawful
			        damage_type=blade
			        slowed=no
			        fire_event=yes
			        experience=no
			        kill=yes
			        animate=no
		        [/harm_unit]
            [/then]
        [/if]
    [/event]
    [+abilities]
#enddef

#define WEAPON_SPECIAL_AD_STUN
    [damage]
        id=ad_stun
        name= _ "stun"
        description= _ "This attack makes opponent dazed and can no longer enforce a zone of control. The effect wears off on the opponent’s next turn."
        special_note=_ "This unit is able to stun its enemies, disrupting their zones of control."
        multiply=1
    [/damage]
    [/specials]
    [/attack]
     [event]
        name=attacker_hits
        first_time_only=no

        [filter_attack]
            special_id=ad_stun
        [/filter_attack]

        [filter_second]
            [not]
                level=0
                [or]
                    status=stunned
                [/or]
            [/not]
        [/filter_second]

        {VARIABLE second_unit.status.stunned yes}

        [unstore_unit]
            variable=second_unit
            find_vacant=no
            male_text= _ "stunned"
            female_text= _ "female^stunned"
            red,green,blue=196,196,128
        [/unstore_unit]

        [object]
            silent=yes
            duration=turn end

            [filter]
                x,y=$x2,$y2
            [/filter]

            [effect]
                apply_to=image_mod
                replace="CS(50,50,0)"
            [/effect]

            [effect]
                apply_to=zoc
                value=no
            [/effect]
        [/object]
    [/event]

    [event]
        name=defender_hits
        first_time_only=no

        [filter_second_attack]
            special_id=ad_stun
        [/filter_second_attack]

        [filter]
            [not]
                level=0
                [or]
                    status=stunned
                [/or]
            [/not]
        [/filter]

        {VARIABLE unit.status.stunned yes}

        [unstore_unit]
            variable=unit
            find_vacant=no
            male_text= _ "stunned"
            female_text= _ "female^stunned"
            red,green,blue=196,196,128
        [/unstore_unit]

        [object]
            silent=yes
            duration=turn end

            [filter]
                x,y=$x1,$y1
            [/filter]

            [effect]
                apply_to=image_mod
                replace="CS(50,50,0)"
            [/effect]

            [effect]
                apply_to=zoc
                value=no
            [/effect]
        [/object]
    [/event]

    [event]
        name=side turn end
        first_time_only=no

        [modify_unit]
            [filter]
                side=$side_number
                status=stunned
            [/filter]
            [status]
                stunned=no
            [/status]
        [/modify_unit]
    [/event]
    [+attack]
    [+specials]
#enddef

#define ABILITY_AD_ELITE_ARMOUR
    [resistance]
        id=ad_elite_armour
        add=100
        max_value=100
        name= _ "magnificent armour"
        description= _ "Arrows, spears and throwing knives bounce off the Baron's magnificent armour without doing any damage. Ranged blade and pierce attacks on the Baron will reduce damage by 99%. 

Moreover, the Baron cannot be poisoned or slowed."     
        affect_self=yes
        active_on=defense
        apply_to=blade,pierce
            [filter_second_weapon]
                range=ranged
            [/filter_second_weapon]
    [/resistance]
#enddef
