#define PLACE_FIRE X Y
    {VARIABLE_OP fire_image rand (1,2,3,4,5,6,7)} # can't randomize the images themselves, because there's commas
    [if] {VARIABLE_CONDITIONAL fire_image equals 1} {THEN(  {VARIABLE fire_image "scenery/flames[01~15].png"      }  )} [/if]
    [if] {VARIABLE_CONDITIONAL fire_image equals 2} {THEN(  {VARIABLE fire_image "scenery/flames[03~15,01~02].png"}  )} [/if]
    [if] {VARIABLE_CONDITIONAL fire_image equals 3} {THEN(  {VARIABLE fire_image "scenery/flames[05~15,01~04].png"}  )} [/if]
    [if] {VARIABLE_CONDITIONAL fire_image equals 4} {THEN(  {VARIABLE fire_image "scenery/flames[07~15,01~06].png"}  )} [/if]
    [if] {VARIABLE_CONDITIONAL fire_image equals 5} {THEN(  {VARIABLE fire_image "scenery/flames[09~15,01~08].png"}  )} [/if]
    [if] {VARIABLE_CONDITIONAL fire_image equals 6} {THEN(  {VARIABLE fire_image "scenery/flames[11~15,01~10].png"}  )} [/if]
    [if] {VARIABLE_CONDITIONAL fire_image equals 7} {THEN(  {VARIABLE fire_image "scenery/flames[13~15,01~12].png"}  )} [/if]
    [item]
        x,y,halo={X},{Y},$fire_image
        name=fire
    [/item]
    {CLEAR_VARIABLE fire_image}
#enddef

#define IMPLEMENT_FIRES
    #############################
    # FIRE - HEX DAMAGE
    #############################
    [event]
        name=enter hex
        first_time_only=no
        {FILTER( {NOT type_adv_tree="Fire Guardian"} {FILTER_LOCATION find_in=fires} )}
        [harm_unit]
            {FILTER id=$unit.id}
            amount,damage_type=1,fire
            kill,fire_event=yes,yes
        [/harm_unit]
    [/event]
    #############################
    # FIRE - TURN DAMAGE
    #############################
    [event]
        name=side turn end
        first_time_only=no
        [harm_unit]
            {FILTER( side=$side_number {NOT type_adv_tree="Fire Guardian"} {FILTER_LOCATION find_in=fires} )}
            amount,damage_type=10,fire
            kill,fire_event=yes,yes
        [/harm_unit]
    [/event]
    #############################
    # FIRE - ILLUMINATION
    #############################
    [event]
        name=new turn,tick_fires
        first_time_only=no
        # if we do this on new turn, sometimes enemies/allies appear to stand in the fire even though they won't ever take damage from it, which is bad
        # but, if we do it on side 1 turn end, the burning forest can sometimes change enemy pathing, which is much worse. Best to stick with "new turn"
        
        #------------------
        # CLEAR ILLUMINATION
        #------------------
        [remove_time_area]
            id=fire_illumination
        [/remove_time_area]
        
        #------------------
        # CREATE ILLUMINATION
        #------------------
        [store_items]
            item_name=fire
            variable=fires
        [/store_items]
        [store_time_of_day]
            x,y=10,10 # arbitrary; 1,1 is more likely to be in a cave or something
            variable=stored_fire_tod
        [/store_time_of_day]
        [time_area]
            id=fire_illumination
            find_in=fires
            [time]
                id=$stored_fire_tod.id
                name=$stored_fire_tod.name
                image=$stored_fire_tod.image|~BLIT(misc/tod-bright.png)
                lawful_bonus="$( min([ 25, 25+$stored_fire_tod.lawful_bonus ]) )"
                red=  "$( 40+$stored_fire_tod.red   )" # be visibily illuminated during the night
                green="$( 30+$stored_fire_tod.green )"
                blue= "$( 20+$stored_fire_tod.blue  )"
            [/time]
        [/time_area]
        {CLEAR_VARIABLE stored_fire_tod}
        
        # leave the "fires" array intact, so we have accurate data for fire-related events, avoids, etc
        [store_items]
            item_name=fire
            variable=fires
        [/store_items]
    [/event]
#enddef

